body, input, button {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: var(--COEmY);
}
/* Eliminamos márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* PARA QUE NO SE DESBOREDE LA FOOTER*/

}

body {
    background-color: #FFFFFF; /* Para cambiar el color de fondo*/
    width: 100%;
    height: 100vh;
}
.search-bar-container {
    position: relative;
    display: inline-block;
    width: 580px; /* Mismo ancho que el campo de búsqueda */
}

/* Estilos para el campo de búsqueda */
.search-input {
    height: 49px;
    width: 100%;
    padding: 10px;
    padding-left: 40px; /* Deja espacio a la izquierda para la imagen */
    font-size: 16px;
    border: 1px solid #dadada;
    border-radius: 30px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilos para la imagen de la lupa */
.search-icon {
    position: absolute; 
    left: 410px; /* Ajusta la distancia desde la izquierda */
    top: 34.5%;
    transform: translateY(-30%); /* Centra verticalmente la imagen dentro del campo de búsqueda */
    width: 15px; /* Tamaño de la lupa */
    height:15px; /* Tamaño de la lupa */
}
.mic-icon {
    position: absolute; 
    left: 890px; /* Ajusta la distancia desde la izquierda */
    top: 34.5%;
    transform: translateY(-50%); /* Centra verticalmente la imagen dentro del campo de búsqueda */
    width: 30px; /* Tamaño de la lupa */
    height: 30px; /* Tamaño de la lupa */
}
.lens-icon {
    position: absolute; 
    left: 930px; /* Ajusta la distancia desde la izquierda */
    top: 34.5%;
    transform: translateY(-50%); /* Centra verticalmente la imagen dentro del campo de búsqueda */
    width: 30px; /* Tamaño de la lupa */
    height: 30px; /* Tamaño de la lupa */
}
footer {
    position: fixed; /* Mantiene el footer siempre visible */
    bottom: 0;       /* Controla la posición desde abajo */
    width: 100%; /* Ajusta el tamaño de la imagen según sea necesario */
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
    text-align: left;
}

.footer-country {
    padding-bottom:40px;
    font-size: 14px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si la pantalla es más pequeña */
    width: 100%;

}

.footer-links {
    display: inline-block;
}

.footer-links a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: ;
}

.footer-links a:hover {
    text-decoration: underline;
    
}
/* Estilos para la imagen */
img.logo {
    position: absolute; /* Permite la colocación exacta */
    width: 270px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-bottom: 2px; /* Espacio entre la imagen y la barra de búsqueda */
    top: 100px; /* Ajusta la distancia desde la parte superior del contenedor */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta el centro horizontalmente */
    
}
/* Espaciado adicional para evitar que el formulario esté pegado a la navbar */
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    margin-top: 80px; /* Ajusta este valor para espaciar el contenido desde la barra de navegación */
}

/*Agrega el color a la navbar*/
.topnav {
    background-color: #FFFFFF;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #131313;
    text-align: center;
    padding: 15px 9px;
    text-decoration: none;
    font-size: 13px;
    size: 50px;
}

/*Estilizar todos los input*/
/* Estilos para el campo de texto */
input[type="text"] {
    height: 49px;
    width: 580px;
    padding-left: 50px; /* Aumentamos el padding-left para crear más espacio */
    font-size:6px;
    border: 1px solid #dadada;
    border-radius: 30px;
    margin-bottom: 10px;
    
}

/* Contenedor para los botones */
.buttons-container {
    display: flex;
    justify-content: center; /* Alinea horizontalmente */
    gap: 7px; /* Espacio entre botones */
}

/* Alinear el formulario en el centro */
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    margin-top: 90px; /* Ajusta este valor para espaciar el contenido desde la imagen */
    gap: 15px; /* Espacio entre el campo de búsqueda y los botones */

}

/* Estilos para los botones */
input[type="submit"],
input[type="button"] {
    color:#494949 ; /* Cambia el color de los botones */
    padding: 10px 15px;
    font-size: 14px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    background-color: #F8F9FA;
    cursor: pointer;    
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #F8F9FA;
}
